:root {
    --color-yellow: #F9EF23;
    --color-black: #141414;
    --color-white: #ffffff;
    --font-family-title: 'Anton', sans-serif;
    --font-family-text: 'Magra', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-family-text);
    color: var(--color-white);
    font-size: 18px;
}

body {
    margin: 0;
    background-color: var(--color-black);
}

h1, h2 {
    font-family: var(--font-family-title);
    text-transform: uppercase;
    font-style: italic;
    color: var(--color-yellow);
    letter-spacing: 5px;
}

header {
    background-image: url("../img/h1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 40vh;
    padding-bottom: 40vh;
}

.header-brand {
    font-family: var(--font-family-title);
    text-transform: uppercase;
    font-size: 2rem;
    position: absolute;
    top: 6rem;
    left: 6rem;
}

.header-brand i {
    margin-right: 5px;
    font-size: 2.2rem;
    color: var(--color-yellow);
}

.header-content {
    text-align: center;
}

.header-title span {
    font-family: var(--font-family-title);
    text-transform: uppercase;
    font-size: 6rem;
}

.header-title span:last-child {
    color: var(--color-yellow);
}

button {
    border: none;
    background-color: var(--color-yellow);
    color: var(--color-black);
    text-transform: uppercase;
    padding: 18px 48px;
}